extends layout
block content
  link(href='https://fonts.googleapis.com/css?family=Gilda+Display' rel='stylesheet' type='text/css')
  link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
  link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css")
  script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js")
  link(href="//d3cizcpymoenau.cloudfront.net/assets/atk/stylesheets/theme-42054c08bec8bb76a7693b8c749dba85.css" media="all" rel="stylesheet")
  link(href="//d3cizcpymoenau.cloudfront.net/assets/common-print-708c449a3aab130ebbbb1ea916638bf2.css" media="print" rel="stylesheet")
  #recipe
    #{recipe}
